[submodule "ruuvi.endpoints.c"]
	path = ruuvi.endpoints.c
	url = https://github.com/ruuvi/ruuvi.endpoints.c
[submodule "pico-ssd1306"]
	path = pico-ssd1306
	url = https://github.com/daschr/pico-ssd1306
[submodule "sparkline"]
	path = sparkline
	url = https://github.com/tapiocode/sparkline
